<% if @errors %>
	<ul>
	<% @errors.each do |error|%>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>


<form action="/login" method="post" >
	<input type="text" name="name" placeholder="name">
	<input type="password" name="password" placeholder="password">

	<input type="submit" name="Login!">
</form>